<div class="card bg-dark shadow">
    <img class="card-img-top" src="https://www.businessinsider.in/thumb/msid-77720373,width-960,resizemode-4,imgsize-58282/tech-buying-guides/best-budget-dslr-cameras-in-india/best-budget-dslr-cameras.jpg" alt="Camera Image">
    <div class="card-body">
      <h5 class="card-title text-white">Camera</h5>
      <p class="card-text text-white">Camera with 180 MegaPixels,Auto Focus,FlashLight and many more</p>
      <a href="#" class="btn btn-secondary">Click Here</a>
    </div>
</div>