<ul class="nav nav-pills justify-content-evenly mt-5" style="margin-bottom: 80px;">
  <li class="nav-item bg-dark">
    <a class="nav-link text-white" routerLink="mobiles" routerLinkActive="active">Mobiles</a>
  </li>
  <li class="nav-item bg-dark">
    <a class="nav-link text-white" routerLink="bikes" routerLinkActive="active">Bikes</a>
  </li>
  <li class="nav-item bg-dark">
    <a class="nav-link text-white" routerLink="televisions" routerLinkActive="active">Televisions</a>
  </li>
</ul>

<div class="container">
   <router-outlet></router-outlet>
</div>