<div class="container mt-3">
   <h2>Contact Us</h2>
   <br>
   <h5>Shop the latest items and XYZ lenses from the official Nikon eCommerce site. Explore our innovations and photo equipment! <br>
    <br>
    Our 3D cameras and virtual tour software platform help you digitize your building, automatically create 3D tours, 4K print quality photos <br>
    <br>
    We have the finest cameras of the generation at affordable prices any queries fin our details in the contact us page and Happy Shopping!!</h5>
   <br>
    <h5>Our company primary motive is to serve the customers in the best way possible any queries feel free to write or call us.</h5>
    <div class="row text-dark p-5 mt-3">
        <div class="col-sm-6 text-start">
            <div>
                <h5><strong>Contact us at:</strong></h5>
                <h5>123/A/1B</h5>
                <h5>Miami</h5>
                <h5>USA</h5>
            </div>
        </div>
        <div class="col-sm-6 text-end">
            <div>
                <h5><strong>Write to us at:</strong></h5>
                <h5>cameras@gmail.com</h5>
                <h5>+1 12345678</h5>
            </div>
        </div>
    </div>
</div>
